
<% if params[:request_type]=="window" %>
<%  else %>
  <p>
    <b>product_id:</b><br>
    <%=editablefieldcreate("product_id", @inventory)%>
  </p>
<% end %>

<p>
  <b>lot_no:</b><br>
    <%=editablefieldcreate(:lot_no, @inventory)%>
</p>

<p>
  <b>expiration_date:</b><br>
     <%=editablefieldcreate(:expiration_date, @inventory)%>
</p>

<p>
  <b>quantity_on_hand:</b><br>
     <%=editablefieldcreate(:quantity_on_hand, @inventory)%>
</p>
<p>
  <br>
  
</p>