

      <p>
        <b>user_id:</b><br>
        <%=editablefieldcreate("user_id", @order)%>
      </p>



      <p>
        <b>customer_id:</b><br>
        <%=editablefieldcreate("customer_id", @order)%>
      </p>



      <p>
        <b>date_shipped:</b><br>
        <%=editablefieldcreate("date_shipped", @order)%>
      </p>


      