

      <p>
        <b>product_id:</b><br>
        <%=editablefieldcreate("product_id", @pricing)%>
      </p>



      <p>
        <b>purchase_price:</b><br>
        <%=editablefieldcreate("purchase_price", @pricing)%>
      </p>



      <p>
        <b>competitor_price:</b><br>
        <%=editablefieldcreate("competitor_price", @pricing)%>
      </p>



      <p>
        <b>contract_price:</b><br>
        <%=editablefieldcreate("contract_price", @pricing)%>
      </p>


      