
<div id="vendor-list">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="vendor" >
    <thead>
      <tr>
        <th align="center">Company Name</th>

      </tr>
    </thead>
    <tbody>
      <%  @companies.each do |company| %>
        <tr class="<%= cycle('odd gradeA', 'even gradeA')%>"  style = "cursor:pointer">
          <td align="center"> <%=company.company_name%> 
            <div id="company-id" class="hidden-item"><%=company.id%></div>
          <div id="company-name" class="hidden-item"><%=company.company_name%></div>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>Company Name</th>
      </tr>
    </tfoot>
  </table>
</div>