  <div class="myaccountsection">
    <div class="myaccountheading">Information for vendor</div>
    <div class="myaccountcontent">

      <%= render 'vendor_list' %>

         </div>
    </p>
  </div>
 